# Exclude dataset folder and docx files
dataset/
docs/docx/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

frontend/node_modules/
ProductSearch-UI/backend/local_temp/